<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav class="navigation desktop-only">
        <ul>
            <li><a [routerLink]="['/']">Головна</a></li>
            <li><a [routerLink]="['/coachtesting']" *ngIf="_auth.isLoggedIn()">Групові тестування</a></li>
        </ul>
        <ul *ngIf="_auth.isLoggedIn" class="user-nav">
            <li class="dropdown">
                <button class="drop-btn">{{ _auth.getUserName() }}</button>
                <div class="dropdown-menu">
                    <div id="sign-out-desktop" class="button-form" (click)="logout()">Вийти</div>
                </div>
            </li>
        </ul>
        <ul class="user-nav" *ngIf="!_auth.isLoggedIn()">
            <li><a [routerLink]="['/login']">Увійти</a></li>
        </ul>
    </nav>
    <nav class="navigation mobile-only">
        <ul>
            <li><a [routerLink]="['/']">Головна</a></li>
            <li><a [routerLink]="['/coachtesting']" *ngIf="_auth.isLoggedIn()">Групові</a></li>
        </ul>
        <ul class="user-nav" *ngIf="_auth.isLoggedIn">
            <li class="dropdown">
                <button class="drop-btn">{{ _auth.getUserName() }}</button>
                <div class="dropdown-menu">
                    <div id="sign-out-mobility" class="button-form" (click)="logout()">Вийти</div>
                </div>
            </li>
        </ul>
        <ul class="user-nav" *ngIf="!_auth.isLoggedIn()">
            <li><a [routerLink]="['/login']">Увійти</a></li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <h6>Робоча назва - ТенісХаб. Працюємо над автоматизацією внесення результатів тестування міжнародного тенісного
        номеру</h6>
</footer>

</body>
</html>
