<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
    <title>{{'Title' | translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav class="navigation desktop-only">
        <ul>
            <li><a [routerLink]="['/']"> {{'nav.main' | translate}} </a></li>
            <li><a [routerLink]="['/coachtesting']" *ngIf="_auth.isLoggedIn()">{{'nav.grouptest' | translate}}</a></li>
        </ul>
        <div class="right-menu-block">
            <ul *ngIf="_auth.isLoggedIn" class="user-nav">
                <li class="dropdown">
                    <button class="drop-btn">{{ _auth.getUserName() }}</button>
                    <div class="dropdown-menu">
                        <div id="sign-out-desktop" class="button-form" (click)="logout()">{{'nav.logout' | translate}}</div>
                    </div>
                </li>
            </ul>
            <ul class="user-nav" *ngIf="!_auth.isLoggedIn()">
                <li><a [routerLink]="['/login']">{{'nav.login' | translate}}</a></li>
            </ul>
            <div class="lang-button" *ngIf="translate_service.getLanguage() == 'ua'" (click)="switchLanguage('en')">🇺🇦</div>
            <div class="lang-button" *ngIf="translate_service.getLanguage() == 'en'" (click)="switchLanguage('ua')">🇬🇧</div>
        </div>
    </nav>
    <nav class="navigation mobile-only">
        <ul>
            <li><a [routerLink]="['/']">{{'nav.main' | translate}}</a></li>
            <li><a [routerLink]="['/coachtesting']" *ngIf="_auth.isLoggedIn()">{{'nav.grouptestshort' | translate}}</a></li>
        </ul>
        <div class="right-menu-block">
            <ul class="user-nav" *ngIf="_auth.isLoggedIn">
                <li class="dropdown">
                    <button class="drop-btn">{{ _auth.getUserName() }}</button>
                    <div class="dropdown-menu">
                        <div id="sign-out-mobility" class="button-form" (click)="logout()">{{'nav.logout' | translate}}</div>
                    </div>
                </li>
            </ul>
            <ul class="user-nav" *ngIf="!_auth.isLoggedIn()">
                <li><a [routerLink]="['/login']">{{'nav.login' | translate}}</a></li>
            </ul>
            <div class="lang-button" *ngIf="translate_service.getLanguage() == 'ua'" (click)="switchLanguage('en')">🇺🇦</div>
            <div class="lang-button" *ngIf="translate_service.getLanguage() == 'en'" (click)="switchLanguage('ua')">🇬🇧</div>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <h6>Робоча назва - ТенісХаб. Працюємо над автоматизацією внесення результатів тестування міжнародного тенісного
        номеру</h6>
</footer>

</body>
</html>
