.tennis-court {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 2px;
    transform: perspective(500px) rotateX(30deg);
    transform-origin: bottom;
    padding: 20px;
    margin-top: -430px;
  }
  
  .tennis-court > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .area-left-alley-top {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-central-top {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-right-alley-top {
    grid-column: 6 / span 1;
    grid-row: 1 / span 4;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-left-service-top {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-right-service-top {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-net {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
    background-color: #33333375;
    border: 3px solid black;
  }
  
  .area-left-alley-bottom {
    grid-column: 1 / span 1;
    grid-row: 6 / span 6;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-right-alley-bottom {
    grid-column: 6 / span 1;
    grid-row: 6 / span 6;
    background-color: var(--clr60);
    border: 3px solid black;
  }
  
  .area-out-line {
    grid-column: 1 / span 6;
    grid-row: 12 / span 1;
    background-color: var(--clr60);
    border: none;
    padding: 10px;
  }
  
  .area-out-powerline {
    grid-column: 1 / span 6;
    grid-row: 13 / span 1;
    background-color: #009901;
    border: 3px solid black;
  }
  
  .active-area:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .first_bounce {
    transform: scale(1.05);
    border: 5px solid #485aff;
    border-width: 5px;
  }
  
  .first_bounce:hover {
    box-shadow: 0px 0px 5px 2px #485aff;
  }
  
  .second_bounce {
    transform: scale(1.05);
    box-shadow: 0px 0px 0px 5px #ff5656;
  }
  
  .second_bounce:hover {
    box-shadow: 0px 0px 5px 5px #ff5656;
  }
  
  .result-area-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    border: 2px solid var(--clr10);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    height: 450px;
  }
  
  .result-area-input > div {
    width: 100%;
  }
  
  .main-result-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }