:root
{
  --clr60: #fefefe;
  --clr60gray: #c6c5c5; 
  --clr30: #195d40;
  --clr30light: #487d6b;
  --clr10: #ff8901;
  --fclr60: #333333;
  --fclr30: #f4f8f6;
  --fclr10: #f2f0f1;
}

@custom-media --small (max-width: 460px);
@custom-media --big (min-width: 461px);


body {
  justify-content:center;
  background: var(--clr60);
  color: var(--fclr60);
}

body,
input,
button {
  font-family: 'Jura', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: var(--clr30);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  flex-wrap: nowrap;
  align-content: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 50px;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: list-item;
  color: var(--fclr30);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.navigation li button {
  margin-top: 0px;
  height: 50px;
  border: 1px solid var(--clr30);
  background-color: var(--clr30);
  color: var(--fclr30);
  border-radius: 10px;
}

.navigation li button:hover {
  border: 1px solid var(--fclr10);
  background-color: var(--clr10);
  color: var(--fclr10);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: var(--clr60);
  border-radius: 0.25rem;
  padding: 0.15rem;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  width: 10rem;
  display: none;
  pointer-events: auto;
}

.dropdown > .dropdown-menu:hover,
.dropdown > .drop-btn:hover + .dropdown-menu {
  display: list-item;
}

.dropdown .drop-btn {
  display: list-item;
  color: var(--fclr30);
  background: var(--clr30);
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0;
  margin: 0px;
  height: 100%;
  border-radius: 10px;
}

.dropdown .drop-btn:hover {
  border: 1px solid var(--fclr10);
  color: var(--fclr10);
  background: var(--clr10);
}

footer {
  border-top: 1px solid var(--clr30);
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--clr10);
}

form div {
  display: flex;
  align-items: center;
}

.edit-form {
  background: var(--clr30);
  color: var(--fclr30);
}

.button-form {
  height: 100%;
  padding: 10px 20px;
  background-color: var(--clr30);
  color: var(--fclr30);
  border-radius: 5px;
  border: 1px solid var(--clr60);
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out; */
}

.button-form:hover {
  background-color: var(--clr10);
  border: 1px solid var(--fclr10);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

label {
  margin: 10px 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--clr10);
  color: var(--fclr10);
  border-radius: 5px;
  border: 1px solid var(--clr10);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[disabled] {
  background-color: var(--clr60gray);
  border: 1px solid var(--clr60gray);
  cursor: not-allowed;
}


button:hover {
  border: 1px solid var(--fclr30);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}


button:focus {
  outline: none;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

label {
  display: inline-block;
  width: 130px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid var(--clr10);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--clr60);
  color: var(--fclr60);
}

::-webkit-calendar-picker-indicator {
  background-color: var(--clr60);
  color: var(--fclr60);
  cursor: pointer;
  border: 1px solid var(--clr10);
  border-radius: 3px;
}

input[type="submit"] {
  background-color: var(--clr30);
  color: var(--fclr30);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: var(--clr10);
}

input[readonly] {
  background-color: var(--clr60gray);
  color: var(--fclr60);
}

.training-route-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.back-point a {
  background-color: var(--clr30);
  border: 2px solid var(--clr30);
  border-radius: 10px;
  color: var(--fclr30);
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.back-point a:hover {
  background-color: var(--clr10);
  color: var(--fclr10);
}

.submit-point {
  width: 50%;
}

@media screen and (max-width: 500px) {
    .desktop-only {
        display: none;
    }
    
}

@media screen and (min-width: 500px) {
    .mobile-only {
        display: none;
    }
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 0.9em;
  min-width: 350px;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.content-table thead tr {
  background-color: var(--clr30);
  color: var(--fclr30);
  text-align: left;
  font-weight: bold;
  cursor: default;
}

.content-table th,
.content-table td {
  padding: 10px 10px;
  min-width: 40px;
}

.content-table tbody tr {
  border-bottom: 3px solid var(--clr30);
}

.content-table tbody tr:hover {
  background: var(--clr10);
  color: var(--fclr10);
  cursor: pointer;
}

.content-table a {
  text-decoration: none;
  color: var(--fclr60);
}

.content-table th div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-table button {
  margin: -10px;
}

.point-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.point-boxes input[type="radio"] {
  display: none;
}

.point-box {
  display: flex;
  border: 1px solid var(--fclr10);
  margin: 5px;
  padding: 5px;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  color: var(--fclr10);
  font-weight: lighter;
}

.point-box:before {
  content: '';
  border-radius: 50%;
  margin-right: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--fclr10);
}

.point-boxes input[type="radio"]:checked + .point-box {
  background-color: var(--clr10);
  color: var(--fclr10);
  font-weight: bold;
}

.point-boxes input[type="radio"]:checked + .point-box:before {
  margin-right: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid var(--clr60);
}

.right-menu-block{
  display: inherit;
  justify-items: center;
  align-items: center;
  margin: 10px;
}

.lang-button {
  cursor: pointer;
  font-size: x-large;
}

.blockcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li.page-item.disabled a.page-link {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination li.page-item a.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: var(--fclr30);
  background-color: var(--clr30);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid var(--fclr10);
  cursor: pointer;
}

.pagination li.page-item a.active {
  border: 3px solid var(--clr10);
}

.pagination li.page-item a.page-link:hover {
  background-color: var(--clr10);
  color: var(--fclr10);
}
