.area-left-service-bottom {
    grid-column: 2 / span 1;
    grid-row: 6 / span 3;
    border: 3px solid black;
  }
  
  .area-center-service-bottom {
    grid-column: 3 / span 2;
    grid-row: 6 / span 3;
    border: 3px solid black;
  }
  
  .area-right-service-bottom {
    grid-column: 5 / span 1;
    grid-row: 6 / span 3;
    border: 3px solid black;
  }
  
  .area-central-left {
    grid-column: 2 / span 1;
    grid-row: 9 / span 3;
    border: 3px solid black;
  }
  
  .area-central-center {
    grid-column: 3 / span 2;
    grid-row: 9 / span 3;
    border: 3px solid black;
  }
  
  .area-central-right {
    grid-column: 5 / span 1;
    grid-row: 9 / span 3;
    border: 3px solid black;
  }
  
  .point1 {
    background-color: #fff7e1;
  }
  
  .point2 {
    background-color: #fecb7f;
  }
  
  .point3 {
    background-color: #feac31;
  }